@use "../abstracts/mixins";

.contact {
	background-color: var(--light-dark-bg);
	padding-bottom: 50px;

	.contact-container {
		@include mixins.container;
		border-radius: 0;
		background-color: inherit;
		box-shadow: none;
		padding-top: 5rem;

		> h1 {
			font-size: var(--size-800);
			font-weight: 500;
			margin-bottom: 3rem;
		}

		.contact-main-container {
			display: flex;
			flex-direction: column;
			row-gap: 50px;

			> form {
				display: flex;
				flex-direction: column;
				row-gap: 5px;

				.form-control {
					display: flex;
					flex-direction: column;
					row-gap: 10px;

					label {
						font-size: var(--size-600);
						color: var(--green);
					}

					input,
					textarea {
						display: block;
						border: none;
						background-color: var(--dark-bg);
						border-radius: var(--border-radius);
						padding: 10px;
						color: var(--green);
						resize: none;
						transition: 0.5s;

						&:focus {
							outline: 1px solid var(--green);
						}
					}

					p {
						color: rgba(255, 0, 0, 0.863);
						opacity: 0;
						transform: translateX(-50px);
						transition: 0.5s;
					}

					.showError {
						outline: 2px solid rgba(255, 0, 0, 0.863);

						~ p {
							transform: translateX(0);
							opacity: 1;
						}
					}

					textarea::-webkit-scrollbar {
						width: 10px;
					}

					textarea::-webkit-scrollbar-track {
						background: rgba(122, 121, 121, 0.534);
					}

					textarea::-webkit-scrollbar-thumb {
						background: var(--green);
						border-radius: var(--border-radius);
					}

					textarea::-webkit-scrollbar-thumb:hover {
						background: rgb(56, 56, 56);
					}

					textarea::-webkit-scrollbar-thumb:active {
						background: rgba(27, 27, 27, 0.8);
						border-radius: 10px;
					}
				}

				button {
					font-size: var(--size-600);
					font-weight: 500;
					padding: 10px 25px;
					border-radius: 0.5rem;
					border: 1px solid transparent;
					background-color: var(--green);
					color: var(--dark-bg);
					transition: 0.5s;

					&:hover {
						border: 1px solid var(--green);
						background-color: var(--dark-bg);
						color: var(--green);
						cursor: pointer;
					}
				}
			}

			> img {
				width: 100%;
				max-width: 500px;
				border-radius: var(--border-radius);
				align-self: center;
				object-fit: cover;
			}
		}
	}
}

@media screen and (min-width: 1000px) {
	.contact {
		.contact-container {
			.contact-main-container {
				flex-direction: row;
				justify-content: space-between;
				row-gap: 50px;
				column-gap: 50px;

				> form {
					width: 70%;
					max-width: 700px;

					button {
						max-width: 300px;
					}
				}
				> img {
					max-width: 400px;
					align-self: flex-start;
				}
			}
		}
	}
}
