@use "../abstracts/mixins";

footer {
	padding-bottom: 50px;

	.footer-container {
		@include mixins.container;
		border-radius: 0;
		background-color: inherit;
		box-shadow: none;
		padding-top: 5rem;

		.footer-main-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			row-gap: 20px;

			.social-media-links {
				display: flex;
				justify-content: center;
				column-gap: 40px;

				a {
					width: 60px;
					border-radius: 0.5rem;
					border: 1px solid transparent;
					transition: 0.5s;
					padding: 10px;

					&:first-of-type svg {
						path:last-of-type {
							fill: var(--white);
							transition: 0.5s;
						}
					}
					&:last-of-type svg {
						path,
						ellipse {
							fill: var(--white);
							transition: 0.5s;
						}
					}

					&:hover {
						border: 1px solid var(--green);
						transform: rotate(360deg) scale(1.15);

						&:first-of-type svg {
							path:last-of-type {
								fill: var(--green);
							}
						}

						&:last-of-type svg {
							path,
							ellipse {
								fill: var(--green);
							}
						}
					}
				}
			}

			.isaac {
				p,
				span {
					font-size: var(--size-600);
					color: var(--green);
				}
			}
		}
	}
}
