@use "../abstracts/mixins";

footer {
	padding-bottom: 50px;

	.footer-container {
		@include mixins.container;
		border-radius: 0;
		background-color: inherit;
		box-shadow: none;
		padding-top: 5rem;

		.footer-main-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			row-gap: 20px;

			.social-media-links {
				display: flex;
				justify-content: center;
				column-gap: 40px;

				a {
					@include mixins.social-media-links;
				}
			}

			.isaac {
				p,
				span {
					font-size: var(--size-600);
					color: var(--green);
				}
			}
		}
	}
}
