@use "../abstracts/mixins";

.home {
	@include mixins.container;
	box-shadow: none;
	margin-top: 6rem;
	margin-bottom: 15rem;
	transition: 0.5s;

	.first-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 40px;

		> img {
			width: 100%;
			max-width: 500px;
			border-radius: var(--border-radius);
			object-fit: cover;
		}

		.social-media-links {
			display: flex;
			justify-content: center;
			column-gap: 40px;

			a {
				@include mixins.social-media-links;
			}
		}
	}

	.second-container {
		display: flex;
		flex-direction: column;
		margin-top: 3rem;

		.heading {
			font-weight: 500;
			font-size: var(--size-800);
			text-align: center;

			&:nth-of-type(1) {
				margin-bottom: -0.5rem;
			}
			&:nth-of-type(2) {
				margin-bottom: 50px;
				line-height: 1.3;
				span {
					font-size: var(--size-800);
					color: var(--green);
				}
			}
		}

		.description {
			margin-bottom: 50px;
			font-weight: 200;
			font-size: var(--size-500);
		}

		.buttons-container {
			display: flex;
			justify-content: space-around;

			a {
				@include mixins.call-to-action;
				font-size: var(--size-600);
				font-weight: 700;

				&:first-of-type {
					font-weight: 400;
					color: var(--green);
					border: 1px solid var(--green);

					&:hover {
						background-color: var(--green);
						color: var(--dark-bg);
					}
				}
			}
		}
	}
}

.animate-home {
	animation: animateHome 0.8s 1.8s both;

	.second-container {
		.buttons-container {
			a {
				animation: animateButtons 0.8s 2.8s both;
				&:last-of-type {
					animation-delay: 4s;
				}
			}
		}
	}
}

@media screen and (min-width: 900px) {
	.home {
		display: flex;
		justify-content: space-between;
		column-gap: 50px;

		.first-container {
			width: calc(40% - 50px);
			justify-content: space-between;
			align-items: flex-start;

			.social-media-links {
				align-self: center;
			}
		}
		.second-container {
			width: 60%;
			margin-top: 0;
			justify-content: space-between;

			.heading {
				text-align: left;
				padding: 0;
				&:nth-of-type(1),
				&:nth-of-type(2) {
					margin-bottom: 0;
				}

				&:nth-of-type(1) {
					margin-top: -20px;
				}
				&:nth-of-type(2) {
					margin-top: -2rem;
					margin-bottom: 0;
					line-height: 1.2;
				}
			}

			.description {
				margin-bottom: 0px;
			}

			.buttons-container {
				justify-content: flex-start;
				column-gap: 30px;
			}
		}
	}

	.animate-home {
		animation: animateHome 0.8s 2.8s both;

		.second-container {
			.buttons-container {
				a {
					animation: animateButtons 0.8s 3.8s both;
					&:last-of-type {
						animation-delay: 4s;
					}
				}
			}
		}
	}
}

@keyframes animateHome {
	from {
		opacity: 0;
		transform: scale(0);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes animateButtons {
	from {
		opacity: 0;
		transform: translateY(50px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
