@use "../abstracts/mixins";

.projects {
	background-color: var(--light-dark-bg);
	padding-bottom: 50px;

	.projects-container {
		@include mixins.container;
		border-radius: 0;
		background-color: inherit;
		box-shadow: none;
		padding-top: 6rem;

		> h1 {
			font-size: var(--size-800);
			font-weight: 500;
		}

		> h3 {
			font-size: var(--size-500);
			font-weight: 500;
			margin-top: 50px;

			a {
				color: var(--green);
			}
		}

		.projects-main-container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			row-gap: 80px;
			padding-bottom: 50px;

			.project {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				row-gap: 25px;
				max-height: 750px;

				opacity: 0; //animation-wise
				transition: 1s;
				//animation-wise
				&:nth-of-type(1),
				&:nth-of-type(2),
				&:nth-of-type(3),
				&:nth-of-type(4) {
					transform: translateY(200px);
				}

				h2 {
					font-size: var(--size-600);
					color: var(--green);
				}

				h2:first-of-type {
					color: var(--white);
					padding: 10px 0;
					text-decoration: var(--green) wavy underline;
				}

				p {
					font-weight: 300;
				}

				.tech-stack {
					display: flex;
					flex-wrap: wrap;
					column-gap: 10px;
					row-gap: 10px;

					a,
					span {
						color: var(--white);
						box-shadow: 0 0px 5px rgb(0, 0, 0);
						padding: 10px;
						border-radius: var(--border-radius);
					}
				}

				.project-sources {
					display: flex;
					justify-content: space-between;
					column-gap: 10px;

					a {
						font-size: var(--size-400);
						padding: 10px 25px;
						border-radius: 0.5rem;
						border: 1px solid var(--green);
						transition: 0.5s;

						&:hover {
							color: var(--dark-bg);
							background-color: var(--green);
						}
					}
				}
			}

			.animate-project {
				&:nth-of-type(1),
				&:nth-of-type(3),
				&:nth-of-type(2),
				&:nth-of-type(4) {
					opacity: 1;
					transform: translateX(0);
				}
			}
		}
	}
}

@media screen and (min-width: 900px) {
	.projects {
		.projects-container {
			.projects-main-container {
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-between;

				.project {
					width: 45%;

					.project-sources {
						justify-content: flex-start;
						column-gap: 40px;
					}
				}
			}
		}
	}
}

.project-container {
	.animate-project {
		&:nth-of-type(1),
		&:nth-of-type(3),
		&:nth-of-type(2),
		&:nth-of-type(4) {
			opacity: 1;
			transform: translateY(0);
		}
	}
}
