@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");
:root {
  --dark-bg: #141628;
  --light-dark-bg: #1b1e32;
  --green: #8ce35b;
  --white: rgba(255, 255, 255, 0.877);
  --font-family: "Poppins", sans-serif;
  --size-300: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
  --size-400: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
  --size-500: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
  --size-600: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
  --size-700: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
  --size-800: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
  --size-900: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
  --size-1000: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);
  --border-radius: 0.5rem;
}

html {
  box-sizing: border-box;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-size: 16px;
  scroll-behavior: smooth;
  /* Set core root defaults */
}
html:focus-within {
  scroll-behavior: smooth;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--white);
}

body {
  min-height: 100vh;
  position: relative;
  background-color: var(--dark-bg);
}

img {
  border-style: none;
}

a {
  text-decoration: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
input,
textarea {
  appearance: none;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/* Remove all animations, transitions, and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: rgba(122, 121, 121, 0.534);
}

html::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: var(--border-radius);
}

html::-webkit-scrollbar-thumb:hover {
  background: #383838;
}

html::-webkit-scrollbar-thumb:active {
  background: rgba(27, 27, 27, 0.8);
  border-radius: 10px;
}

header {
  margin: 0 auto;
  width: 90%;
  max-width: 1500px;
  padding: 10px;
  border-radius: var(--border-radius);
  background-color: var(--dark-bg);
  box-shadow: 0 0px 5px black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  height: 4rem;
  position: fixed;
  z-index: 3;
  background-color: var(--dark-bg);
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  transition: 0.5s;
  overflow: hidden;
}
header .isaac-icon {
  font-size: var(--size-600);
  font-weight: 700;
  animation: animateIsaac 0.8s 0.5s both;
}
header .hamburger-container {
  background-color: var(--green);
  width: 50px;
  height: 45px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--border-radius);
  transition: 0.5s;
  animation: animateLinks 0.8s 1.3s both;
}
header .hamburger-container:hover {
  cursor: pointer;
}
header .hamburger-container div {
  content: "";
  height: 3px;
  background-color: var(--white);
  transition: 0.5s;
}
header .hamburger-container-active div:nth-child(1) {
  transform: translate(-1px, 11px) rotate(45deg);
}
header .hamburger-container-active div:nth-child(2) {
  transform: translateX(-15px);
  opacity: 0;
}
header .hamburger-container-active div:nth-child(3) {
  transform: translate(-1px, -10px) rotate(-45deg);
}
header .desktop-links {
  display: none;
  animation: animateLinks 0.8s 1.3s both;
}
header .desktop-links a:last-of-type {
  animation: animateContactLink 0.8s 2.1s both;
}

.header-active {
  padding: 10px 20px;
}

.header-sticky {
  background-color: var(--dark-bg);
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.blur-bg {
  display: none;
  position: fixed;
  z-index: 2;
  inset: 0;
  background-color: rgba(230, 223, 223, 0.212);
  backdrop-filter: blur(5px);
}

.blur-bg-active {
  display: block;
}

.mobile-links {
  width: 90%;
  margin-top: 1rem;
  max-width: 1500px;
  position: fixed;
  left: 5%;
  transform: translateX(-5%);
  height: calc(100vh - 10rem);
  z-index: 3;
  background-color: inherit;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
  transform: scale(0);
  overflow: hidden;
}
.mobile-links a {
  display: block;
  width: 100%;
  text-align: center;
  font-size: var(--size-700);
  color: var(--green);
  padding: 20px;
  transition: 0.5s;
}

@media screen and (min-width: 800px) {
  header .hamburger-container {
    display: none;
  }
  header .desktop-links {
    display: flex;
    justify-content: space-between;
    width: 65%;
    max-width: 500px;
  }
  header .desktop-links a {
    font-size: var(--size-400);
    padding: 10px 25px;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    transition: 0.5s;
  }
  header .desktop-links a:hover {
    color: var(--green);
    border: 1px solid var(--green);
  }
  header .desktop-links a:last-of-type {
    background-color: var(--green);
    color: var(--dark-bg);
    font-weight: 500;
  }
  header .desktop-links a:last-of-type:hover {
    border: 1px solid var(--green);
    background-color: var(--dark-bg);
    color: var(--green);
  }

  .blur-bg,
.mobile-links {
    display: none;
  }
}
.mobile-links-active {
  transform: scale(1);
}
.mobile-links-active a {
  animation: animateMobileNavLinks 1s ease 0.5s 1 normal both;
}
@keyframes animateMobileNavLinks {
  0% {
    opacity: 0;
    transform: translateX(250px) rotate(200deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0) rotate(0deg);
  }
}

@keyframes animateIsaac {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes animateLinks {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes animateContactLink {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
  }
}
.home {
  margin: 0 auto;
  width: 90%;
  max-width: 1500px;
  padding: 10px;
  border-radius: var(--border-radius);
  background-color: var(--dark-bg);
  box-shadow: 0 0px 5px black;
  box-shadow: none;
  margin-top: 6rem;
  margin-bottom: 15rem;
  transition: 0.5s;
}
.home .first-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}
.home .first-container > img {
  width: 100%;
  max-width: 500px;
  border-radius: var(--border-radius);
  object-fit: cover;
}
.home .first-container .social-media-links {
  display: flex;
  justify-content: center;
  column-gap: 40px;
}
.home .first-container .social-media-links a {
  width: 60px;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  transition: 0.5s;
  padding: 10px;
}
.home .first-container .social-media-links a:first-of-type svg path:last-of-type {
  fill: var(--white);
  transition: 0.5s;
}
.home .first-container .social-media-links a:last-of-type svg path,
.home .first-container .social-media-links a:last-of-type svg ellipse {
  fill: var(--white);
  transition: 0.5s;
}
.home .first-container .social-media-links a:hover {
  border: 1px solid var(--green);
  transform: rotate(360deg) scale(1.15);
}
.home .first-container .social-media-links a:hover:first-of-type svg path:last-of-type {
  fill: var(--green);
}
.home .first-container .social-media-links a:hover:last-of-type svg path,
.home .first-container .social-media-links a:hover:last-of-type svg ellipse {
  fill: var(--green);
}
.home .second-container {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.home .second-container .heading {
  font-weight: 500;
  font-size: var(--size-800);
  text-align: center;
}
.home .second-container .heading:nth-of-type(1) {
  margin-bottom: -0.5rem;
}
.home .second-container .heading:nth-of-type(2) {
  margin-bottom: 50px;
  line-height: 1.3;
}
.home .second-container .heading:nth-of-type(2) span {
  font-size: var(--size-800);
  color: var(--green);
}
.home .second-container .description {
  margin-bottom: 50px;
  font-weight: 200;
  font-size: var(--size-500);
}
.home .second-container .buttons-container {
  display: flex;
  justify-content: space-around;
}
.home .second-container .buttons-container a {
  font-size: var(--size-400);
  padding: 10px 25px;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  transition: 0.5s;
  font-size: var(--size-600);
  font-weight: 700;
}
.home .second-container .buttons-container a:hover {
  color: var(--green);
  border: 1px solid var(--green);
}
.home .second-container .buttons-container a:last-of-type {
  background-color: var(--green);
  color: var(--dark-bg);
  font-weight: 500;
}
.home .second-container .buttons-container a:last-of-type:hover {
  border: 1px solid var(--green);
  background-color: var(--dark-bg);
  color: var(--green);
}
.home .second-container .buttons-container a:first-of-type {
  font-weight: 400;
  color: var(--green);
  border: 1px solid var(--green);
}
.home .second-container .buttons-container a:first-of-type:hover {
  background-color: var(--green);
  color: var(--dark-bg);
}

.animate-home {
  animation: animateHome 0.8s 1.8s both;
}
.animate-home .second-container .buttons-container a {
  animation: animateButtons 0.8s 2.8s both;
}
.animate-home .second-container .buttons-container a:last-of-type {
  animation-delay: 4s;
}

@media screen and (min-width: 900px) {
  .home {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
  }
  .home .first-container {
    width: calc(40% - 50px);
    justify-content: space-between;
    align-items: flex-start;
  }
  .home .first-container .social-media-links {
    align-self: center;
  }
  .home .second-container {
    width: 60%;
    margin-top: 0;
    justify-content: space-between;
  }
  .home .second-container .heading {
    text-align: left;
    padding: 0;
  }
  .home .second-container .heading:nth-of-type(1), .home .second-container .heading:nth-of-type(2) {
    margin-bottom: 0;
  }
  .home .second-container .heading:nth-of-type(1) {
    margin-top: -20px;
  }
  .home .second-container .heading:nth-of-type(2) {
    margin-top: -2rem;
    margin-bottom: 0;
    line-height: 1.2;
  }
  .home .second-container .description {
    margin-bottom: 0px;
  }
  .home .second-container .buttons-container {
    justify-content: flex-start;
    column-gap: 30px;
  }

  .animate-home {
    animation: animateHome 0.8s 2.8s both;
  }
  .animate-home .second-container .buttons-container a {
    animation: animateButtons 0.8s 3.8s both;
  }
  .animate-home .second-container .buttons-container a:last-of-type {
    animation-delay: 4s;
  }
}
@keyframes animateHome {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes animateButtons {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.projects {
  background-color: var(--light-dark-bg);
  padding-bottom: 50px;
}
.projects .projects-container {
  margin: 0 auto;
  width: 90%;
  max-width: 1500px;
  padding: 10px;
  border-radius: var(--border-radius);
  background-color: var(--dark-bg);
  box-shadow: 0 0px 5px black;
  border-radius: 0;
  background-color: inherit;
  box-shadow: none;
  padding-top: 6rem;
}
.projects .projects-container > h1 {
  font-size: var(--size-800);
  font-weight: 500;
}
.projects .projects-container .projects-main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 80px;
  padding-bottom: 50px;
}
.projects .projects-container .projects-main-container .project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 25px;
  max-height: 750px;
  opacity: 0;
  transition: 1s;
}
.projects .projects-container .projects-main-container .project:nth-of-type(1), .projects .projects-container .projects-main-container .project:nth-of-type(2), .projects .projects-container .projects-main-container .project:nth-of-type(3), .projects .projects-container .projects-main-container .project:nth-of-type(4) {
  transform: translateY(200px);
}
.projects .projects-container .projects-main-container .project h2 {
  font-size: var(--size-600);
  color: var(--green);
}
.projects .projects-container .projects-main-container .project h2:first-of-type {
  color: var(--white);
  padding: 10px 0;
  text-decoration: var(--green) wavy underline;
}
.projects .projects-container .projects-main-container .project p {
  font-weight: 300;
}
.projects .projects-container .projects-main-container .project .tech-stack {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}
.projects .projects-container .projects-main-container .project .tech-stack a,
.projects .projects-container .projects-main-container .project .tech-stack span {
  color: var(--white);
  box-shadow: 0 0px 5px black;
  padding: 10px;
  border-radius: var(--border-radius);
}
.projects .projects-container .projects-main-container .project .project-sources {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}
.projects .projects-container .projects-main-container .project .project-sources a {
  font-size: var(--size-400);
  padding: 10px 25px;
  border-radius: 0.5rem;
  border: 1px solid var(--green);
  transition: 0.5s;
}
.projects .projects-container .projects-main-container .project .project-sources a:hover {
  color: var(--dark-bg);
  background-color: var(--green);
}
.projects .projects-container .projects-main-container .animate-project:nth-of-type(1), .projects .projects-container .projects-main-container .animate-project:nth-of-type(3), .projects .projects-container .projects-main-container .animate-project:nth-of-type(2), .projects .projects-container .projects-main-container .animate-project:nth-of-type(4) {
  opacity: 1;
  transform: translateX(0);
}

@media screen and (min-width: 900px) {
  .projects .projects-container .projects-main-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .projects .projects-container .projects-main-container .project {
    width: 45%;
  }
  .projects .projects-container .projects-main-container .project .project-sources {
    justify-content: flex-start;
    column-gap: 40px;
  }
}
.project-container .animate-project:nth-of-type(1), .project-container .animate-project:nth-of-type(3), .project-container .animate-project:nth-of-type(2), .project-container .animate-project:nth-of-type(4) {
  opacity: 1;
  transform: translateY(0);
}

.skills {
  padding-bottom: 50px;
}
.skills .skills-container {
  margin: 0 auto;
  width: 90%;
  max-width: 1500px;
  padding: 10px;
  border-radius: var(--border-radius);
  background-color: var(--dark-bg);
  box-shadow: 0 0px 5px black;
  border-radius: 0;
  background-color: inherit;
  box-shadow: none;
  padding-top: 6rem;
}
.skills .skills-container > h1 {
  font-size: var(--size-800);
  font-weight: 500;
}
.skills .skills-container .skills-main-container > h2 {
  font-size: var(--size-600);
  color: var(--green);
  margin: 60px 0;
}
.skills .skills-container .skills-main-container .skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.skills .skills-container .skills-main-container .skills .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  row-gap: 20px;
}

.contact {
  background-color: var(--light-dark-bg);
  padding-bottom: 50px;
}
.contact .contact-container {
  margin: 0 auto;
  width: 90%;
  max-width: 1500px;
  padding: 10px;
  border-radius: var(--border-radius);
  background-color: var(--dark-bg);
  box-shadow: 0 0px 5px black;
  border-radius: 0;
  background-color: inherit;
  box-shadow: none;
  padding-top: 5rem;
}
.contact .contact-container > h1 {
  font-size: var(--size-800);
  font-weight: 500;
  margin-bottom: 3rem;
}
.contact .contact-container .contact-main-container {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.contact .contact-container .contact-main-container > form {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.contact .contact-container .contact-main-container > form .form-control {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.contact .contact-container .contact-main-container > form .form-control label {
  font-size: var(--size-600);
  color: var(--green);
}
.contact .contact-container .contact-main-container > form .form-control input,
.contact .contact-container .contact-main-container > form .form-control textarea {
  display: block;
  border: none;
  background-color: var(--dark-bg);
  border-radius: var(--border-radius);
  padding: 10px;
  color: var(--green);
  resize: none;
  transition: 0.5s;
}
.contact .contact-container .contact-main-container > form .form-control input:focus,
.contact .contact-container .contact-main-container > form .form-control textarea:focus {
  outline: 1px solid var(--green);
}
.contact .contact-container .contact-main-container > form .form-control p {
  color: rgba(255, 0, 0, 0.863);
  opacity: 0;
  transform: translateX(-50px);
  transition: 0.5s;
}
.contact .contact-container .contact-main-container > form .form-control .showError {
  outline: 2px solid rgba(255, 0, 0, 0.863);
}
.contact .contact-container .contact-main-container > form .form-control .showError ~ p {
  transform: translateX(0);
  opacity: 1;
}
.contact .contact-container .contact-main-container > form .form-control textarea::-webkit-scrollbar {
  width: 10px;
}
.contact .contact-container .contact-main-container > form .form-control textarea::-webkit-scrollbar-track {
  background: rgba(122, 121, 121, 0.534);
}
.contact .contact-container .contact-main-container > form .form-control textarea::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: var(--border-radius);
}
.contact .contact-container .contact-main-container > form .form-control textarea::-webkit-scrollbar-thumb:hover {
  background: #383838;
}
.contact .contact-container .contact-main-container > form .form-control textarea::-webkit-scrollbar-thumb:active {
  background: rgba(27, 27, 27, 0.8);
  border-radius: 10px;
}
.contact .contact-container .contact-main-container > form button {
  font-size: var(--size-600);
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  background-color: var(--green);
  color: var(--dark-bg);
  transition: 0.5s;
}
.contact .contact-container .contact-main-container > form button:hover {
  border: 1px solid var(--green);
  background-color: var(--dark-bg);
  color: var(--green);
  cursor: pointer;
}
.contact .contact-container .contact-main-container > img {
  width: 100%;
  max-width: 500px;
  border-radius: var(--border-radius);
  align-self: center;
  object-fit: cover;
}

@media screen and (min-width: 1000px) {
  .contact .contact-container .contact-main-container {
    flex-direction: row;
    justify-content: space-between;
    row-gap: 50px;
    column-gap: 50px;
  }
  .contact .contact-container .contact-main-container > form {
    width: 70%;
    max-width: 700px;
  }
  .contact .contact-container .contact-main-container > form button {
    max-width: 300px;
  }
  .contact .contact-container .contact-main-container > img {
    max-width: 400px;
    align-self: flex-start;
  }
}
footer {
  padding-bottom: 50px;
}
footer .footer-container {
  margin: 0 auto;
  width: 90%;
  max-width: 1500px;
  padding: 10px;
  border-radius: var(--border-radius);
  background-color: var(--dark-bg);
  box-shadow: 0 0px 5px black;
  border-radius: 0;
  background-color: inherit;
  box-shadow: none;
  padding-top: 5rem;
}
footer .footer-container .footer-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
footer .footer-container .footer-main-container .social-media-links {
  display: flex;
  justify-content: center;
  column-gap: 40px;
}
footer .footer-container .footer-main-container .social-media-links a {
  width: 60px;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  transition: 0.5s;
  padding: 10px;
}
footer .footer-container .footer-main-container .social-media-links a:first-of-type svg path:last-of-type {
  fill: var(--white);
  transition: 0.5s;
}
footer .footer-container .footer-main-container .social-media-links a:last-of-type svg path,
footer .footer-container .footer-main-container .social-media-links a:last-of-type svg ellipse {
  fill: var(--white);
  transition: 0.5s;
}
footer .footer-container .footer-main-container .social-media-links a:hover {
  border: 1px solid var(--green);
  transform: rotate(360deg) scale(1.15);
}
footer .footer-container .footer-main-container .social-media-links a:hover:first-of-type svg path:last-of-type {
  fill: var(--green);
}
footer .footer-container .footer-main-container .social-media-links a:hover:last-of-type svg path,
footer .footer-container .footer-main-container .social-media-links a:hover:last-of-type svg ellipse {
  fill: var(--green);
}
footer .footer-container .footer-main-container .isaac p,
footer .footer-container .footer-main-container .isaac span {
  font-size: var(--size-600);
  color: var(--green);
}

/*# sourceMappingURL=main.css.map */
