@mixin container {
	margin: 0 auto;
	width: 90%;
	max-width: 1500px;
	padding: 10px;
	border-radius: var(--border-radius);
	background-color: var(--dark-bg);
	box-shadow: 0 0px 5px rgb(0, 0, 0);
}

@mixin call-to-action {
	font-size: var(--size-400);
	padding: 10px 25px;
	border-radius: 0.5rem;
	border: 1px solid transparent;
	transition: 0.5s;

	&:hover {
		color: var(--green);
		border: 1px solid var(--green);
	}

	&:last-of-type {
		background-color: var(--green);
		color: var(--dark-bg);
		font-weight: 500;

		&:hover {
			border: 1px solid var(--green);
			background-color: var(--dark-bg);
			color: var(--green);
		}
	}
}
